* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ***** HOME PAGE DESIGN STARTS HERE ***** */

.home-cont {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
}

.home-cont .home-main {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.home-main .search-buttons-frame {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-main .home-btn {
  width: 10rem;
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 1rem;
  border: 1px solid #dfe1e5;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


/* ***** SEARCHBAR DESIGN STARTS HERE ***** */

.searchBox {
  height: 46px;
  width: 600px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-left: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.searchBox input {
  /* border: 1px solid olivedrab; */
  height: 100%;
  width: 80%;
  border-radius: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.searchBox input:focus {
  outline: none;
 
}

.searchBox .search-icons-utl{
   /* border: 1px solid blue; */
   display: flex;
   justify-content: center;
   align-items: center;
}

.searchBox .search-icons-utl img
{
  height: 25px;
  width: 25px;
  margin: 0 8px;
}

/* ***** SEARCHBAR DESIGN ENDS HERE ***** */


/* ***** HOME PAGE DESIGN ENDS HERE ***** */






/* ***** HOMEHEADER DESIGN STARTS HERE ***** */


.home-header-cont {
  /* border: 1px solid black; */
  display: flex;
  gap: 4;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.home-header-btn-cont {
  display: flex;
  gap: 4;
}

.home-header-btn-cont span {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 0.5rem 0.3rem;
}

.home-header-btn-cont span:hover {
  text-decoration: underline;
}

.profile-icon-cont {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.profile-icon-cont .profile {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  /* border: 1px solid orangered; */
  margin: 0 1rem;
}

.profile-icon-cont .profile img {
  height: 100%;
  width: 100%;
  margin: 0 5px;
}

/* ***** HOMEHEADER DESIGN ENDS HERE ***** */