* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ***** HOME PAGE DESIGN STARTS HERE ***** */

.home-cont {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-cont .home-main {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.home-main .search-buttons-frame {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-main .home-btn {
  width: 10rem;
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 1rem;
  border: 1px solid #dfe1e5;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


/* ***** HOMEHEADER DESIGN STARTS HERE ***** */


.home-header-cont {
  /* border: 1px solid black; */
  display: flex;
  gap: 4;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.home-header-btn-cont {
  display: flex;
  gap: 4;
}

.home-header-btn-cont span {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 0.5rem 0.3rem;
}

.home-header-btn-cont span:hover {
  text-decoration: underline;
}

.profile-icon-cont {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.profile-icon-cont .profile {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  /* border: 1px solid orangered; */
  margin: 0 1rem;
}

.profile-icon-cont .profile img {
  height: 100%;
  width: 100%;
  margin: 0 5px;
}

/* ***** HOMEHEADER DESIGN ENDS HERE ***** */


/* ***** SEARCHBAR DESIGN STARTS HERE ***** */

.searchBox {
  /* border: 1px solid orangered; */
  height: 46px;
  width: 600px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-left: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 1rem;
}

.searchBox input {
  /* border: 1px solid olivedrab; */
  height: 100%;
  width: 80%;
  border-radius: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.searchBox input:focus {
  outline: none;

}

.searchBox .search-icons-utl {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox .search-icons-utl img {
  height: 25px;
  width: 25px;
  margin: 0 8px;
}

/* ***** SEARCHBAR DESIGN ENDS HERE ***** */


/* ***** FOOTER DESIGN STARTS HERE ***** */

.footer-cont {
  background-color: #f2f2f2;
  /* border: 1px solid red; */
}

.footer-cont .row-1 {
  display: flex;
  padding: 15px 15px;
  border-bottom: 1px solid #dadce0;
  /* border: 1px solid greenyellow; */
}

.footer-cont .row-1 span {
  color: #70767a;
}

.footer-cont .row-2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 3px 0;

  /* border: 1px solid orangered; */
}

.footer-cont .row-2 div {
  display: flex;
  justify-content: center;
  padding: 0 0.3rem;
}


.footer-cont .row-2 div span {
  color: #70757a;
  font-size: 12px;
  padding: 10px;
}

/* ***** FOOTER DESIGN ENDS HERE ***** */


/* ***** HOME PAGE DESIGN ENDS HERE ***** */




/* ***** SEARCH REASULT PAGE DESIGN STARTS HERE ***** */

.searchreasultheader-cont {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.searchreasultheader-cont .inner-div {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchreasultheader-cont .inner-div-child {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.searchreasultheader-cont .inner-div .inner-div-child .SR-header-logo {
  width: 92px;
  margin-right: 10px;
  /* border: 1px solid goldenrod; */
  margin-bottom: 8px;
}

.search-reasult-cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid red;
  justify-content: space-between;
}

.SRH-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
  width: 100%;
  margin-top: 0.5rem;
}

.SRH-menu .menu-links {
  display: flex;
  align-items: center;
  padding: 3px;
  /* color: #5f6368; */
  cursor: pointer;
  /* border: 1px solid orangered; */
  position: relative;
  margin-left: 5px;
  justify-content: space-between;
}

.active-menu
{
  /* position: relative; */

  /* border: 1px solid red; */
  margin-left: 2px;
}

.active-menu-underline
{
  background-color: #1a73e8;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.search-reasult-main {
  /* border: 1px solid green;  */
  height: 70%;
}



/* ***** SEARCH REASULT PAGE DESIGN ENDS HERE ***** */