@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ***** HOME PAGE DESIGN STARTS HERE ***** */

.home-cont {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-cont .home-main {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.home-main .search-buttons-frame {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-main .home-btn {
  width: 10rem;
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: 1rem;
  border: 1px solid #dfe1e5;

  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}


/* ***** HOMEHEADER DESIGN STARTS HERE ***** */


.home-header-cont {
  /* border: 1px solid black; */
  display: flex;
  gap: 4;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.home-header-btn-cont {
  display: flex;
  gap: 4;
}

.home-header-btn-cont span {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 0.5rem 0.3rem;
}

.home-header-btn-cont span:hover {
  text-decoration: underline;
}

.profile-icon-cont {
  /* border: 1px solid blue; */
  display: flex;
  gap: 2;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.profile-icon-cont .profile {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  /* border: 1px solid orangered; */
  margin: 0 1rem;
}

.profile-icon-cont .profile img {
  height: 100%;
  width: 100%;
  margin: 0 5px;
}

/* ***** HOMEHEADER DESIGN ENDS HERE ***** */


/* ***** SEARCHBAR DESIGN STARTS HERE ***** */

.searchBox {
  /* border: 1px solid orangered; */
  height: 46px;
  width: 600px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-left: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 1rem;
}

.searchBox input {
  /* border: 1px solid olivedrab; */
  height: 100%;
  width: 80%;
  border-radius: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.searchBox input:focus {
  outline: none;

}

.searchBox .search-icons-utl {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox .search-icons-utl img {
  height: 25px;
  width: 25px;
  margin: 0 8px;
}

/* ***** SEARCHBAR DESIGN ENDS HERE ***** */


/* ***** FOOTER DESIGN STARTS HERE ***** */

.footer-cont {
  background-color: #f2f2f2;
  /* border: 1px solid red; */
}

.footer-cont .row-1 {
  display: flex;
  padding: 15px 15px;
  border-bottom: 1px solid #dadce0;
  /* border: 1px solid greenyellow; */
}

.footer-cont .row-1 span {
  color: #70767a;
}

.footer-cont .row-2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 3px 0;

  /* border: 1px solid orangered; */
}

.footer-cont .row-2 div {
  display: flex;
  justify-content: center;
  padding: 0 0.3rem;
}


.footer-cont .row-2 div span {
  color: #70757a;
  font-size: 12px;
  padding: 10px;
}

/* ***** FOOTER DESIGN ENDS HERE ***** */


/* ***** HOME PAGE DESIGN ENDS HERE ***** */




/* ***** SEARCH REASULT PAGE DESIGN STARTS HERE ***** */

.searchreasultheader-cont {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.searchreasultheader-cont .inner-div {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchreasultheader-cont .inner-div-child {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.searchreasultheader-cont .inner-div .inner-div-child .SR-header-logo {
  width: 92px;
  margin-right: 10px;
  /* border: 1px solid goldenrod; */
  margin-bottom: 8px;
}

.search-reasult-cont {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 1px solid red; */
  justify-content: flex-start;
}

.SRH-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
  width: 100%;
  margin-top: 0.5rem;
}

.SRH-menu .menu-links {
  display: flex;
  align-items: center;
  padding: 3px;
  /* color: #5f6368; */
  cursor: pointer;
  /* border: 1px solid orangered; */
  position: relative;
  margin-left: 5px;
  justify-content: space-between;
}

.active-menu {
  /* position: relative; */

  /* border: 1px solid red; */
  margin-left: 2px;
}

.active-menu-underline {
  background-color: #1a73e8;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.search-reasult-main {
  /* border: 1px solid green; */
  overflow: auto;
}


.search-reasult-main .search-info-cont {
  display: flex;
  color: #70757a;
  padding: 0 1rem;
}

.images-frame {
  /* border: 1px solid pink; */
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 30px;
}


/* SEARCH-TEMPLET-CONTAINER-DESIGN-START-HERA */

.SearchItemTemplateCont {
  display: flex;
  flex-direction: column;
  padding: 3px 1rem;
  max-width: 700px;
  /* border: 1px solid orangered; */
  margin-top: 0.5rem;
}

.SearchItemTemplateCont .sites-url
{
  color: #202124;
}

.SearchItemTemplateCont .site-title
{
  color: #1a0dab;
  font-size: 1.3rem;
  padding-top: 2px;
}

.SearchItemTemplateCont .site-title:hover
{
  text-decoration: underline;
  cursor: pointer;
}

.SearchItemTemplateCont .site-description
{
  color: #4d5156;
  padding-top: 4px;
}

/* SEARCH-TEMPLET-CONTAINER-DESIGN-ENDS-HERA */




/* SEARCH-Image-Item-TEMPLET-CONTAINER-DESIGN-Starts-HERA */
.searched-image-item {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  cursor: pointer;
}

.searched-image-item:hover .image-wrapper {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.03);
  height: 100px;
}

@media (min-width: 768px) {
  .image-wrapper {
    height: 120px;
  }
}

@media (min-width: 1024px) {
  .image-wrapper {
    height: 140px;
  }
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.text-small {
  font-size: 0.75rem;
  color: #70757a;
  padding-top: 0.5rem;
}

.text-medium {
  font-size: 1rem;
  color: #3c4043;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-medium:hover {
  text-decoration: underline;
}

/* SEARCH-Image-Item-TEMPLET-CONTAINER-DESIGN-Ends-HERA */


.pagination-cont
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0;
  max-width: 700px;
  /* border: 1px solid red; */
}

.inner-pagination-div
{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pagination-img
{
  width: 250px;
}

.nextprev
{
  cursor: pointer;
}

.pagination-numbs
{
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 9px;
  cursor: pointer;
}

/* ***** SEARCH REASULT PAGE DESIGN ENDS HERE ***** */