html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1B1B1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

/* ****** header css Start ***** */

.header {
    /* border: 1px solid red; */
    background-color: #222428;
    position: sticky;
    top: 0px;
    z-index: 200;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.header .header-cont
{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-btn {
    background-color: white;
    color: black;
    font-size: 12px;
    line-height: 10px;
    border: 1px solid white;
    padding: 9px 20px 7px;
    border-radius: 30px;
    margin-right: 20px;
}

.header a
{
    display: inline-block;
    margin-right: 27px;
}

.hemburger-menu, .logo, .search-input
{
    margin-right: 27px;
}

.hemburger-menu .svg_color
{
   fill: hsla(0, 0%, 100%, .8);
}

.logo svg{
    width: 100px;
    height: 26px;
    margin-top: 8px;
}

.search-input {
    display: inline-flex;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px;
    flex: 1;
    color: #8e8e93;
    font-size: 12px;
    background-color: #1b1b1b;
    border: 1px solid hsla(0, 0%, 100%, .1);
}

.search-input svg {
    fill: #8e8e93;
    margin-right:0 4px;
}

.search-input input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 38px;
    color: white;
    max-width: 500px;
    /* border: 1px solid red; */
}

.login-cta
{
    font-size: 12px;
    color: hsla(0, 0%, 100%, .2);
}

/* ****** header css ends ***** */




/* ****** Navigation header css start ***** */

.navigation-menu
{
    position: sticky;
    top: 60px;
    min-height: 60px;
    background-color: #1b1b1b;
    z-index: 200;
    /* border: 1px solid red; */
}

.nav-cont
{
    display: flex;
    align-items: center;
    padding: 20px 0;
    /* border: 1px solid blue; */
}

.nav-link
{
    color: hsla(0, 0%, 100%, .9);
    font-size: 16px;
    margin-right: 30px;
    text-transform: capitalize;
    letter-spacing: 0.09px;
    text-decoration: none;
    line-height: 20px;
}

/* ****** Navigation header css ends ***** */





/* ****** Two Column css layout starts ***** */

.two-col-layout
{
   display: flex;
   height: 100%;
}

.music-libs
{
   flex: 7;
   /* max-width: calc(100% - 90px); */
   padding: 0 45px;
   margin: 0 auto 100px;
   max-width: 70%;
}

.ad-cont
{
    flex: 2;
    max-width: 30%;
    background-color: #1e1e1e;
}



/* ****** Two Column css layout ends ***** */






/* ****** Slider css starts ***** */



/* ****** Slider css ends ***** */






/* ****** Songs Section css starts ***** */


.songs-sections
{
   /* border: 1px solid blue; */
}

.section-heading
{
   margin: 30px 0;
   font-size: 24px;
   color: hsla(0, 0%, 100%, .9);
   text-transform: capitalize;
}

.songs-cont
{
   display: flex;
   flex-direction: row;
   overflow: hidden;
}

.song-card
{
   display: flex;
   flex-direction: column;
   margin-right: 45px;
   color: hsla(0, 0%, 100%, .9);
}

.song-card:hover .overlay
{
   visibility: visible;
}

.song-card:hover .img-cont
{
   filter: brightness(.75);
}


.img-cont
{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.img-cont img
{
    width: 100%;
    object-fit: cover;
}

.overlay
{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
    cursor: pointer;
    background-image: url(https://a10.gaanacdn.com/gn_img/images/play_1621599900.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: calc(50% + 1px) 50%;
}

/* ****** Songs Section css ends ***** */






/* ****** Music Player Controller css Starts ***** */

.music-player
{
   /* border: 1px solid red; */
   position: fixed;
   box-sizing: border-box;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222428;
   /* color:; */
   box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
   padding: 15px 25px;
   border-radius: 0;
   z-index: 100;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

.current-music-playing
{
    align-items: center;
    flex: 1;
    /* border: 1px solid green; */
    display: flex;
    justify-content: start;
}

.music-player .song-cover
{
    border-radius: 4px;
    margin-right: 10px;
    overflow: hidden;
}

.music-player .song-info
{
    flex-direction: column;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.song-info .t_over
{
    font-size: 15px;
    color: #fff;
}

.song-info .t_over2
{
    font-size: 12px;
    color: rgba(255,255,255,.7);
    margin-top: 4px;
}

.music-player .song-actions
{
    margin-left: 20px;
}




.music-controls
{
   align-items: center;
   justify-content: center;
   flex: 2;
   /* border: 1px solid red; */
}

.music-controls .time
{
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 20px;
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    padding: 6px 14px;
    align-items: center;
    display: flex;
}

.music-controls .time span
{
    margin: 0 2px;
}

.music-controls button, .music-quality button
{
  margin: 0 12px;
  border: none;
  outline: none;
  background-color: transparent;
}

.music-controls .svg_color, .music-quality .svg_color
{
   fill: white;
}

.play{
   /* background-color: red; */
   border-radius: 20px;
   height: 32px;
   width: 32px;
}



.music-quality
{
    flex: 1;
    justify-content: end;
    /* border: 1px solid blue; */
}

/* ****** Music Player Controller css Ends ***** */